/* You can add global styles to this file, and also import other style files */

.btn-app {
  height: 30px !important;
  margin: 0px 10px !important;
  padding: 5px 20px !important;

  i.fa {
    display: inline-block !important;
    vertical-align: middle !important;
  }
}

.login-page {
  height: calc(100vh) !important;
  margin-top: 0px;
  padding-top: 1px;
}

.content-wrapper {
  min-height: calc(100vh - 102px) !important;
}

.skin-blue .data-table .sidebar-form {
  width: 300px !important;

  input[type="text"] {
    background-color: unset !important;
  }
}

.display-block {
  display: block !important;
}

.d-filter {
  line-height: 30px;
  width: 50vw;
  display: inline-block;

  h3 {
    display: inline-block;
    margin: 0px 30px 0px 10px;
  }

  .d-filter-box {

    // display: inline-block;
    .d-filter-item {
      display: inline-block;
      padding: 0 20px;
      width: 25vw;
    }

    .d-filter-item.d-filter-button {
      width: auto
    }
  }

  button[type='submit'] {
    display: inline-block;
  }
}
