<!-- Content Header (Page header) -->
<main-layout-page-header [title]="'List County'"></main-layout-page-header>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <common-data-table #dataTableCounty [title]="" [options]="dataTableCountyOptions" (onAddClick)="showPopupAdd($event)"
    (onEditClick)="showPopupEdit($event)" (onDeleteClick)="showPopupDelete($event)">
    <div class="d-filter pull-right">
      <!-- <h3 class="col-sm-3">
        Filter
      </h3> -->
      <form class="form-horizontal d-filter-box pull-right" (ngSubmit)="onSearchFormSubmit(searchCountyForm)"
        #searchCountyForm="ngForm">
        <div class="form-group d-filter-item"
          [ngClass]="{'has-feedback': searchCountyFormCity.valid || (searchCountyFormCity.pristine && !searchCountyForm.submitted), 'has-error': searchCountyFormCity.invalid && (searchCountyFormCity.dirty || searchCountyForm.submitted)}">
          <label for="searchCountyFormCity" class="col-sm-2">City</label>
          <div class="col-sm-10">
            <select class="form-control" id="searchCountyFormCity" name="searchCountyFormCity"
              [(ngModel)]="searchParams.cityId" #searchCountyFormCity="ngModel">
              <option [ngValue]="null"> -- Select -- </option>
              <option *ngFor="let city of dropDownList.cityList" [ngValue]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group d-filter-item"
          [ngClass]="{'has-feedback': searchCountyFormName.valid || (searchCountyFormName.pristine && !searchCountyForm.submitted), 'has-error': searchCountyFormName.invalid && (searchCountyFormName.dirty || searchCountyForm.submitted)}">
          <label for="searchCountyFormName" class="col-sm-2">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="searchCountyFormName" name="searchCountyFormName"
              placeholder="Search" [(ngModel)]="searchParams.name" #searchCountyFormName="ngModel">
          </div>
        </div>
        <div class="form-group d-filter-item d-filter-button">
          <button type="submit" class="btn btn-block btn-primary col-sm-2"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </common-data-table>

  <common-popup #popupAddEditCounty [options]="popupAddEditCountyOptions" (onOKClick)="addCountyForm.onSubmit($event)">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Input information</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form (ngSubmit)="onCountyFormSubmit(addCountyForm)" #addCountyForm="ngForm">
        <div class="box-body">
          <div class="form-group" [hidden]="!model.id">
            <label for="addCountyFormId">ID</label>
            <input type="number" class="form-control" id="addCountyFormId" name="addCountyFormId" placeholder="ID"
              [(ngModel)]="model.id">
          </div>
          <div class="form-group"
            [ngClass]="{'has-feedback': addCountyFormName.valid || (addCountyFormName.pristine && !addCountyForm.submitted), 'has-error': addCountyFormName.invalid && (addCountyFormName.dirty || addCountyForm.submitted)}">
            <label for="addCountyFormName">Name</label>
            <input type="text" class="form-control" id="addCountyFormName" name="addCountyFormName" placeholder="Name"
              [(ngModel)]="model.countyName" #addCountyFormName="ngModel" required>
          </div>
          <div class="form-group"
            [ngClass]="{'has-feedback': addCountyFormCity.valid || (addCountyFormCity.pristine && !addCountyForm.submitted), 'has-error': addCountyFormCity.invalid && (addCountyFormCity.dirty || addCountyForm.submitted)}">
            <label for="addCountyFormCity">City</label>
            <select class="form-control" id="addCountyFormCity" name="addCountyFormCity" [(ngModel)]="model.cityId"
              #addCountyFormCity="ngModel" required>
              <option [ngValue]="null"> -- Select -- </option>
              <option *ngFor="let city of dropDownList.cityList" [ngValue]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
  </common-popup>

  <common-popup #popupDeleteCounty [options]="popupDeleteCountyOptions" (onOKClick)="onDeleteCountySubmit($event)">
    <p>Are you sure to delete this county?</p>
  </common-popup>
</section>
<!-- /.content -->
