<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a routerLink=""><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form (ngSubmit)="onLogInFormSubmit(logInForm)" #logInForm="ngForm">
                <div class="form-group "
                    [ngClass]="{'has-feedback': logInFormEmail.valid || (logInFormEmail.pristine && !logInForm.submitted), 'has-error': logInFormEmail.invalid && (logInFormEmail.dirty || logInForm.submitted)}">
                    <input type="email" class="form-control" placeholder="Email" id="logInFormEmail"
                        name="logInFormEmail" [(ngModel)]="loginModel.email" #logInFormEmail="ngModel" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group "
                    [ngClass]="{'has-feedback': logInFormPassword.valid || (logInFormPassword.pristine && !logInForm.submitted), 'has-error': logInFormPassword.invalid && (logInFormPassword.dirty || logInForm.submitted)}">
                    <input type="password" class="form-control" placeholder="Password" id="logInFormPassword"
                        name="logInFormPassword" [(ngModel)]="loginModel.password" #logInFormPassword="ngModel"
                        required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input commonIcheck [options]="isRememberCheckboxOption" type="checkbox"
                                    id="logInFormRemember" name="logInFormRemember" [(ngModel)]="loginModel.remember">
                                &nbsp;&nbsp; Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign
                    in using
                    Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign
                    in using
                    Google+</a>
            </div>
            <!-- /.social-auth-links -->

            <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a>

        </div>
        <!-- /.login-box-body -->
    </div>
</div>
